<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Pages</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body onload="startWebsocket()">
    <div class="contents">
        <h1>Home Page</h1>
        <div class="back-button"></div>
            <button onclick="window.location.href='/'">Go to Login</button>
        </div>
        <hr>
        <div class="chat-container">
            <div class="chat-input">
                <form action="/create_post" method="post" id= "chat-form">
                {% csrf_token %}
                <label> Chat: 
                    <input id="chatInput" name="content" type="text" placeholder="Start typing here..." required>
                </label>

                <label for="feeling">Feeling:</label>
                <select name="feeling" id="feeling" required>
                    <option value="Happy">Happy</option>
                    <option value="Sad">Sad</option>
                    <option value="Angry">Angry</option>
                    <option value="Neutral" selected>Neutral</option>
                </select>

                <button type="submit" id="chat-button" >Send</button>
                </form>
                <hr>
            </div>
        

        <!--Display Posts-->
        <h2> Messages</h2>
        {% for post in posts %}
        <div class="post">
            <div class="message">
                <p>User:{{post.username}}</p>
                <p>{{post.content}}</p>
                <p>Emotion:{{ post.feeling }}</p>
                <p>Likes: {{post.likes | length}}</p>
            </div>
            <div class="like-button">
                <form action="{% url 'like_post' post.post_id %}" method="post">
                    {% csrf_token %}
                <button type="submit">Like</button>
                </form>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>