<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">

    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body onload="init()" class="main-container">
    
    <div class="upload-avatar">
        <div class="upload-avatar-content">
            <div>
                <span class="upload-avatar-close">X</span>
            </div>
            <div class="upload-avatar-input">
                {% if logged_in %}
                <form action="/upload-avatar/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    Upload:
                    <input type="file" name="avatar">
                    <input type="submit" value="Upload">
                </form>
                {% else %}
                <span>only logged user can upload avatar.</span>
                {% endif %}
            
            </div>
        </div>
    </div>

    <div class="left-container">
        <input type="text" id="game-id" name="game_id" hidden value="{{game_id}}"/>
        <div>
            <img src="{% static 'images/logo.png' %}" class="logo">
        </div>
        <div class="chat-button" id="go-chat">
            <p>CHAT</p>
            <img style="width:100px;height:100px;" src="{% static 'images/chat.png' %}">
        </div>
        <button onclick="leave_game()" class="button_"> home </button>
        <!-- <button onclick="window.location.href='/'" class="button_">go to login </button>
        <button onclick="window.location.href='/logout'" class="button_">logout</button> -->
    </div>

    <div id="content" class="center-container">
        <div class="question-answer">
            <div class="question">
                <label>What days of the week does cse 312 meet?</label>
            </div>
            <div class="answer">
                <div>
                    Option1
                </div>
                <div>
                    Option2
                </div>
                <div>
                    Option3
                </div>
                <div>
                    Option4
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div>
            <img src="{% static avatar_url %}" class="avatar">
            <h1>{{username}}</h1>
        </div>

        <input type="text" id="game-id" name="game_id" hidden value="{{game_id}}"/>

        <!-- <button onclick="leave_game()"> leave_game </button> -->
        <div>
            <p>Players: </p>
            <div id="players">
                <p><img src="{% static avatar_url %}" class="avatar-small"> Player1</p>
                <p><img src="{% static avatar_url %}" class="avatar-small">Player2</p>
                <p><img src="{% static avatar_url %}" class="avatar-small">Player3</p>
                <p><img src="{% static avatar_url %}" class="avatar-small">Player4</p>
            </div>
        </div>
        <!-- <button onclick="finish_game()">finish game(use to Test) should be delete.</button> -->
        <!-- <div style="width:300px;">
            <form action="/game_chat" method="post">
                {% csrf_token %}
                <input type="text" id="game-id" name="game_id" hidden value="{{game_id}}"/>
                <input type="text" name="message" style="width:200px;"/>
                <input type="submit" value="Send"/>
        </div> -->
        <!-- <div class="chat-input">
            <form action="/game_chat" method="post" id= "chat-form">
            {% csrf_token %}
            <label> Chat: 
                <input id="chatInput" name="content" type="text" placeholder="Start typing here..." required>
            </label>

            <label for="feeling">Feeling:</label>
            <select name="feeling" id="feeling" required>
                <option value="Happy">Happy</option>
                <option value="Sad">Sad</option>
                <option value="Angry">Angry</option>
                <option value="Neutral" selected>Neutral</option>
            </select>

            <button type="button" id="chat-button" onclick="send_post()">Send</button>
            </form>
            <hr>
        </div> -->
        <!-- <div class="chat-box" id="chat-box">
            abcd
        </div> -->
    </div>

</body>
</html>