<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">

    <script src="{% static 'js/game.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body onload="init()" class="main-container">
    
    <div class="upload-avatar">
        <div class="upload-avatar-content">
            <div>
                <span class="upload-avatar-close">X</span>
            </div>
            <div class="upload-avatar-input">
                {% if logged_in %}
                <form action="/upload-avatar/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    Upload:
                    <input type="file" name="avatar">
                    <input type="submit" value="Upload">
                </form>
                {% else %}
                <span>only logged user can upload avatar.</span>
                {% endif %}
            
            </div>
        </div>
    </div>

    <div class="left-container">
        <input type="text" id="game-id" name="game_id" hidden value="{{game_id}}"/>
        <div>
            <img src="{% static 'images/logo.png' %}" class="logo">
        </div>
        <div class="chat-button" id="go-chat">
            <p>CHAT</p>
            <img style="width:100px;height:100px;" src="{% static 'images/chat.png' %}">
        </div>
        <button onclick="leave_game()" class="button_"> home </button>
        <!-- <button onclick="window.location.href='/'" class="button_">go to login </button>
        <button onclick="window.location.href='/logout'" class="button_">logout</button> -->
    </div>

    <div id="content" class="center-container">
        <div class="question-answer">
            <div class="question">
                <label id="question-text">Question still loading</label>
            </div>
            <div class="answer">
                <div id="answer1" style="cursor: pointer;color:black;">
                    Option1
                </div>
                <div id="answer2" style="cursor: pointer;color:black;">
                    Option2
                </div>
                <div id="answer3" style="cursor: pointer;color:black;">
                    Option3
                </div>
                <div id="answer4" style="cursor: pointer;color:black;">
                    Option4
                </div>
            </div>
            <h2 id="timer">X seconds left</h2>
            <p id="last-correct-answer">Last answer was:</p>
        </div>
    </div>
    <div class="right-container">
        <div>
            <img src="{% static avatar_url %}" class="avatar">
            <h1>{{username}}</h1>
        </div>

        <input type="text" id="game-id" name="game_id" hidden value="{{game_id}}"/>

        <!-- <button onclick="leave_game()"> leave_game </button> -->
        <div>
            <p>Players: </p>
            <div id="players">
                <p><img src="{% static avatar_url %}" class="avatar-small"> Player1</p>
                <p><img src="{% static avatar_url %}" class="avatar-small">Player2</p>
                <p><img src="{% static avatar_url %}" class="avatar-small">Player3</p>
                <p><img src="{% static avatar_url %}" class="avatar-small">Player4</p>
            </div>
        </div>
        <script>
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/game/'
            );
            
            document.getElementById("answer1").onclick = function() {
                const data = {};
                data['answer'] = document.getElementById("answer1").innerText
                chatSocket.send(JSON.stringify(data));
                document.getElementById("answer1").style.color = "red";
                document.getElementById("answer2").style.color = "black";
                document.getElementById("answer3").style.color = "black";
                document.getElementById("answer4").style.color = "black";
            }
            
            document.getElementById("answer2").onclick = function() {
                const data = {};
                data['answer'] = document.getElementById("answer2").innerText
                chatSocket.send(JSON.stringify(data));
                document.getElementById("answer1").style.color = "black";
                document.getElementById("answer2").style.color = "red";
                document.getElementById("answer3").style.color = "black";
                document.getElementById("answer4").style.color = "black";
            }
            
            document.getElementById("answer3").onclick = function() {
                const data = {};
                data['answer'] = document.getElementById("answer3").innerText
                chatSocket.send(JSON.stringify(data));
                document.getElementById("answer1").style.color = "black";
                document.getElementById("answer2").style.color = "black";
                document.getElementById("answer3").style.color = "red";
                document.getElementById("answer4").style.color = "black";
            }
            
            document.getElementById("answer4").onclick = function() {
                const data = {};
                data['answer'] = document.getElementById("answer4").innerText
                chatSocket.send(JSON.stringify(data));
                document.getElementById("answer1").style.color = "black";
                document.getElementById("answer2").style.color = "black";
                document.getElementById("answer3").style.color = "black";
                document.getElementById("answer4").style.color = "red";
            }
    
            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);

                if ("trivia" in data) {
                    if(data["timer"] === 10 || document.getElementById("question-text").textContent === "Question still loading") {
                    let question = document.getElementById("question-text");
                    let answer1 = document.getElementById("answer1");
                    let answer2 = document.getElementById("answer2");
                    let answer3 = document.getElementById("answer3");
                    let answer4 = document.getElementById("answer4");
                    let trivia = data["trivia"]["results"];
                    question.innerHTML = trivia[0]["question"];
                    let answerList = trivia[0]["incorrect_answers"];;
                    answerList.push(trivia[0]["correct_answer"])
                    for (let i = answerList.length - 1; i > 0; i--) { //Fisher_Yates shuffle algo
                        const j = Math.floor(Math.random() * (i + 1));
                        [answerList[i], answerList[j]] = [answerList[j], answerList[i]];
                    }
                    answer1.innerHTML = answerList[0];
                    answer1.style.color = "black";
                    answer2.innerHTML = answerList[1];
                    answer2.style.color = "black";
                    answer3.innerHTML = answerList[2];
                    answer3.style.color = "black";
                    answer4.innerHTML = answerList[3]; 
                    answer4.style.color = "black";

                    let lastAnswer = document.getElementById("last-correct-answer");
                    lastAnswer.innerHTML = `Last answer was: ${data["last_answer"]}`
                    }

                    let timer = document.getElementById("timer");
                    timer.innerHTML = data["timer"]
                }
                console.log(data)
                if ("player_list" in data) {
                    let players = document.getElementById("players");
                    players.innerHTML = "";
                    data["player_list"].forEach(function(item){
                        console.log(item);
                        players.innerHTML += "<p><img src='/static/"+item['avatar']+"' class='avatar-small'>"+item['username']+" | Score: "+item['score']+"</p>"; 
                    });
                }
            };
    
            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };
    
        </script>
    </div>

</body>
</html>