<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/game_lobby.css' %}">

    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/game_lobby.js' %}"></script>
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body onload="init()" class="main-container">
    <div class="upload-avatar">
        <div class="upload-avatar-content">
            <div>
                <span class="upload-avatar-close">X</span>
            </div>
            <div class="upload-avatar-input">
                {% if logged_in %}
                <form action="/upload-avatar/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    Upload:
                    <input type="file" name="avatar">
                    <input type="submit" value="Upload">
                </form>
                {% else %}
                <span>only logged user can upload avatar.</span>
                {% endif %}
            
            </div>
        </div>
    </div>

    <div class="create-game">
        <div class="create-game-content">
            <div>
                <span class="create-game-close">X</span>
            </div>
            <div class="create-game-input">
                {% if logged_in %}
                <form action="/create_game/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span>Create Game:</span>

                    <p>Name</p> <input type="text" name="name" required>
                    <p>Join-Code</p> <input id="join-code" type="text" name="join_code" required>
                    <button type="button" onclick="generate_random_join_code()">Generate</button>
                    <p> is_private</p>
                    <span>Public</span><input type="radio" name="is_public" value="true" required>
                    <span>Private</span><input type="radio" name="is_public" value="false" required>
                    <br>
                    <input type="submit" value="Create">

                </form>
                {% else %}
                <span>only logged user can create game.</span>
                {% endif %}
            
            </div>
        </div>
    </div>

    <div class="left-container">
        <img src="{% static 'images/logo.png' %}" class="logo">
        <button onclick="window.location.href='/'">go to login </button>
        <button onclick="window.location.href='/logout'">logout</button>
    </div>
    <div id="content" class="right-container">
        <div style="height:200px;width:200px;">
            <img src="{% static avatar_url %}" class="avatar">
        </div>
        <p>{{username}}</p>
        
        <p>Current Public Game</p>
        <div class="game-list" id="game-list">
            <div class="game-item" onclick="window.location.href='/game_room'"><label>Game 1</label><img src="{% static 'images/start.png' %}"></div>
            <div class="game-item" onclick="window.location.href='/game_room'"><label>Game 2</label><img src="{% static 'images/start.png' %}"></div>
        </div>
        
        <div >
            <p>Join with Code</p>
            <div class="join-game">
                <input id="join-code2" type="text" name="join_code"/><img src="{% static 'images/start.png' %}" class="join" onclick="join_game()">
            </div>
        </div>
        <div>
            <p class="create_btn" onclick="show_create_game()">Create Game</p>
        </div>

    </div>
</body>
</html>