<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body onload="init()" style="background:url({% static 'images/background.jpg' %})">
    <div id="menu-button">menu
    </div>
    <div id="menu">
        <ul>
            <li>menu1</li>
            <li>menu2</li>
            <li>menu3</li>
            <li>menu4</li>
        </ul>
    </div>
    <div id="header" ></div>
    <div id="content" >
        
        <h1>Welcome, {{username}}</h1>

        <!-- Form to login -->
        <form action="/login" method="post" id="login-container" class="login-register-container">
            {% csrf_token %}
            <div class="login-register-header">Login</div>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <div class="buttons">
                <button type="submit">Login</button>
            </div>

        </form>
        
        <!-- Form to register -->
        <form action="/register" method="post" id="register-container" class="login-register-container">
            {% csrf_token %}
            <div class="login-register-header">Register</div>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="retype_password" placeholder="Retype Password" required>
            <div class="buttons">
                <button type="submit">Register</button>
            </div>

        </form>
        <div class="chat-button"></div>
            <button onclick="window.location.href='chat'">Go to Chat</button>
        </div>

        <!-- Logout form -->
        <form action="/logout" method="post" id="logout-container" class="login-register-container">
            {% csrf_token %}
            <div class="buttons">
                <button type="submit">Logout</button>
            </div>


            </form>            
        </div>
        
        <!--Chat-->
        
        
    </div>
    <div id="footer"></div>
</body>
</html>