<<<<<<< HEAD
.chat-button button {
    width: 20%;
    height: 30px;
    margin: 10px;
    font-size: 20px;
=======
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chat-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    max-height: 300px;
    border-bottom: 1px solid #ddd;
}

#chatInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
>>>>>>> 49729ea9264ac4754a88509d32a4078d0cbaf05e
}